<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Diego Velazquez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let imagen of imagenes; index as i">
        <img class="galeria" src="assets/galeria/{{imagen}}" alt="" srcset="" (click)="verImagen(imagen)">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>