<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="light">
     Galeria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button size="large" expand="block" routerLink="/botticelli" color="warning">
      Sandro Botticelli
    </ion-button>
    <br>
    <br>

    <ion-button size="large" expand="block" routerLink="/modigliani" color="success">
      Amedeo Modigliani
    </ion-button>
    <br>
    <br>

    <ion-button size="large" expand="block" routerLink="/velazquez" color="tertiary">
      Diego Velazquez
    </ion-button>
    <br>
    <br>
  
  </ion-content>
